{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<div class="hero_section">
  <h1>About Page</h1>
</div>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "About Page",
  "settings": [],
  "presets": [
    {
      "name": "About Template",
      "category": "Others Pages"
    }
  ]
}
{% endschema %}
