{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<div class="hero_section">
  <h1>Feature Products Page</h1>
</div>

{% stylesheet %}
  .hero_section {
    padding: 80px 100px;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Feature Products Page",
  "settings": [],
  "presets": [
    {
      "name": "Feature Products Template",
      "category": "Products Pages"
    }
  ]
}
{% endschema %}
